doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Playlist collab
		link(rel="stylesheet", href="/public/main.css")
		if offlineMode
			link(rel="stylesheet", href="/public/offline-theme-dark.css")
			link(rel="stylesheet", href="/public/offline-language-english.css")


	body
		block content

	//- script(src="/public/bundle.js")