extends layout

include mixins/_topNav
include mixins/_sideNav
include mixins/_musicList

block content
	+topNav(h.topMenu)

	main
		+sideNav()

		//- section.music__overview
		p= data.message

		ul.content__container
			if data.items
				each list in data.items
					li
						+musicList(list)

			//- else
				a(href='/login').login-btn Login with Spotify

