extends layout

include mixins/_topNav
include mixins/_sideNav
include mixins/_musicList

block content
	+topNav()

	main
		+sideNav()

		//- section.music__overview
		p= data.message

		ul.content__container
			b
			if data.items
				each list in data.items
					li
						+musicList(list)

	section.music__player
		//- p PLAYER



	//- p #{message}
	//- a(href="/clientAuth") clientCredentialsFlow
	//- pre= h.dump(data)