extends layout

include mixins/_sideNav
include mixins/_musicList

block content
	nav.nav--top
		ul
			//- li
				a(href="/featured") Featured
			li
				a(class="current" href="/releases") New releases
			//- li
				a(href="/discover") Discover

	main
		+sideNav()

		//- section.music__overview
		p= data.message

		ul.content__container
			b
			if data.items
				each list in data.items
					li
						+musicList(list)

	section.music__player
		//- p PLAYER



	//- p #{message}
	//- a(href="/clientAuth") clientCredentialsFlow
	//- pre= h.dump(data)