extends layout

include mixins/_sideNav

block content
	nav.nav--top
		ul
			li
				a(class="" href="/rooms") return
	main
		+sideNav()

		b
		form(action=`/rooms/new-room` method="POST" enctype="multipart/form-data")
			label(for="room-name") Room name
			input(id="room-name" type="text" name="room-name" value="")
			
			//- Should become something like a dropdown with the available playlist from user
			label(for="playlist") Use playlist
			input(id="playlist" type="text" name="playlist")

			p Room type
			label(for="type-public") Public
			input(id="type-public" type="radio" name="public" value="public")
			label(for="type-private") Private
			input(id="type-private" type="radio" name="public" value="private")

			input(type="submit" value="Add Room")