extends layout

include mixins/_topNav
include mixins/_sideNav
include mixins/_roomList

block content
	+topNav(h.topMenuRoom)

	main
		+sideNav()
		
		ul.content__container
			if rooms
				each room in rooms
					li
						+roomList(room)
		
	//- pre= h.dump(rooms)
