extends layout

include mixins/_sideNav

block content
	nav.nav--top
		ul
			li
				a(class="" href="/rooms") return
	main
		+sideNav()

		b
		form(action=`/rooms/new-room` method="POST").form--room
			label(for="name") Room name
			input(id="name" type="text" name="name" value="Public Room" placeholder="Enter your roomname")
			
			label(for="playlist") Use playlist
			select(name="playlist")
				each list in playlists
					option(value=list.id)= list.name

			p Room type
			div.form--checkbox-con
				input(id="type-public" type="radio" name="public" value="true" checked)
				label(for="type-public") Public
				input(id="type-private" type="radio" name="public" value="")
				label(for="type-private") Private

			input(type="submit" value="Add Room")