extends layout

include mixins/_sideNav
include mixins/_roomList

block content
	nav.nav--top
		ul
			li
				a(class="current" href="/rooms") Public rooms
			li
				a(class="" href="/") My rooms
			li
				a(class="" href="/rooms/new-room") Add room

	main
		+sideNav()
		

		//- section.music__overview
		//- section.content__container
			

		ul.content__container
			if rooms
				each room in rooms
					li
						+roomList(room)
		
			//- li
				a(href="/rooms/new-room") New room

	//- pre= h.dump(rooms)
