mixin sideNav()
	nav.nav--side
		ul
			each link in h.sideMenu
				li
					a(href=link.slug)
						if link.title === 'home'
							!= h.icon(link.icon)
						else
							div.small!= h.icon(link.icon)
						//- if link.title
							p= link.title
		